Inputs/2024/Day1/input.txt
Inputs/2024/Day2/input.txt
Inputs/2024/Day3/input.txt
Inputs/2024/Day4/input.txt
Inputs/2024/Day5/input.txt
Inputs/2024/Day5/test_input.txt
Inputs/2024/Day6/input.txt
Inputs/2024/Day6/test_input.txt
Inputs/2024/Day7/input.txt
Inputs/2024/Day7/test_input.txt
Inputs/2024/Day8/input.txt
Inputs/2024/Day8/test_input.txt
